<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. true" #input>
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- date Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date | date: "MM/dd/yyyy": "pt-BR" }} </mat-cell>
  </ng-container>

  <!-- street Column -->
  <ng-container matColumnDef="street">
    <mat-header-cell *matHeaderCellDef> Rua </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.street}} </mat-cell>
  </ng-container>

  <!-- number Column -->
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
  </ng-container>

  <!-- complement Column -->
  <ng-container matColumnDef="complement">
    <mat-header-cell *matHeaderCellDef> Complemento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.complement}} </mat-cell>
  </ng-container>

  <!-- renant Column -->
  <ng-container matColumnDef="renant">
    <mat-header-cell *matHeaderCellDef> Inquilino </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.renant}} </mat-cell>
  </ng-container>

  <!-- value Column -->
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
  </ng-container>

  <!-- paid Column -->
  <ng-container matColumnDef="paid">
    <mat-header-cell *matHeaderCellDef> Pagou? </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.paid}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-mini-fab color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef>
      <button color="primary" mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Nenhum dado encontrado com: "{{input.value}}"</td>
  </tr>
</mat-table>
